@model _360Feedback.Models.EmailModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Admin Page</h1>
    <p class="lead">ASP.NET is a lorem ipsum framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row" id="teamBuilderDiv">
    <div class="col-lg-12">
        <form id="formSave" name="formSave" method="POST" action=''>
            <label for="teamName">Enter Team Name:</label><br /><input type="text" name="teamName" id="teamName" placeholder="Team Name" /><br /><br /><label>Enter Student Names and Emails:</label><br />
            <span id="inputFields"></span><br /><input type="button" value="+" id="plus" />
            <br /><br />

            <input type="submit" name="submit" id="btnSave" class="btn btn-lg" value="Save Team" />
        </form>
    </div>
</div>


<br />

<fieldset>
    <legend>
        Send Email
    </legend>

    @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
    {
      
        @Html.ValidationSummary()
        <p>To: </p>
        <p>@Html.TextBoxFor(m => m.To)</p>
        <p>Body: </p>
        <p>@Html.TextAreaFor(m => m.Body)</p>
        <input type="submit" name="submit" value="Send" id="btnSave" class="btn btn-lg" />
    }
</fieldset>

@section Scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/adminIndex.js" type="text/javascript"></script>
}