
@{
    ViewBag.Title = "Error";
}

<h2>Error!</h2>

<p>There was an issue saving your responses. Please use your browser's back function to return to the form and try again. If issues persist, please contact Matt Green for further assistance</p>